body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
  color: darkslategray;
  margin: 0;
  padding: 0;
}

.title {
  color: cadetblue;
}

a {
  text-decoration: none;
  color: lightseagreen;
}

.course-name {
  font-style: italic;
  color: palevioletred
}

.introduction {
  position: relative;
  background-color: azure;
  border: 3px solid peru;
  border-radius: 25px;
  padding: 5px;
  width: 300px;
}
